// colors
$main-color: #fff;
$brand-color: #ffda16;
$secondary-color: #d8dee3;

$sent-background-color: #445669;
$received-background-color: #f1f0f0;

$sent-text-color: #fff;
$received-text-color: #222d38;

$sent-time-color: #fff9;
$received-time-color: #9d9e9f;

$username-color: #9fabb7;

$shadow: 8px 3px 22px 10px #9696961c;
